

<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <title>Hello, world!</title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <img class="navbar-brand" alt="logo" src="static/logo.png" width="2%">Avowal</img>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Moderation</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">GitHub</a>
               </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="POST" action="">
               <input name="search" id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
         </div>
      </nav>
      <div class="container">
      <br/>
      {% for message in get_flashed_messages() %}
      <div class="alert alert-dark" role="alert">
         {{ message }}
      </div>
      {% endfor %}
      <div class="card">
         <div class="card-header">
            Post your own avowal.
         </div>
         <div class="card-body">
            <div class="form-group">
               <form action="" method="POST">
                  <label>Name (optional)</label>
                  <input name="name" id="name" type="text"><br/>
                  <label>Write your story here (1000 maximal)</label>
                  <textarea name="myStory" class="form-control" rows="1"></textarea><br/>
                  <button type="submit" class="btn btn-primary">Go somewhere</a>
               </form>
            </div>
         </div>
      </div>
      <br/>
      <div class="card">
         <h5 class="card-header">Stories</h5>
         <div class="card-body">
            {% if storiesResult %}
            {% for row in storiesResult %}
            <div class="alert alert-dark" role="alert">
               <h5 class="alert-heading">#story_{{row.databaseId}} posted by {{ row.postedby }}</h5>
            </div>
            <div class='alert alert-dark'>
               <p>{{row.story}}</p>
               <hr>
               <p class="mb-0">Posted on {{row.date}}</p>
               <br/>
               <div class="card">
                  <div class="card-header">
                     Comments
                  </div>
                  <div class="card-body">
                     <div class="card-body">
                        <div class="form-group">
                           <form action="" method="POST">
                              <label>Write down the comment</label>
                              <textarea name="comment" class="form-control" rows="1"></textarea><br/>
                              <button type="submit" class="btn btn-primary">Submit</a>
                           </form>
                        </div>
                        {% if commentResult %}
                        {% for comment in commentResult %}
                        {% if comment.postid == row.databaseId %}
                        <div class="card">
                           <div class="card-body">
                              {{comment.comment}}
                           </div>
                        </div>
                        <br/>
                        {%endif%}{%endfor%}
                        {% else: %}
                        <p>No comments found</p>
                        {% endif %}
                     </div>
                  </div>
                  </div>
               </div>
               <br/> <!-- For addiitonal stories. -->
               {% endfor %}
               {% else: %}
               <p>No stories .. uwu! :(</p>
               {% endif %}
            </div>
         </div>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
   </body>
</html>

